html{
  font-size: 16px;
}

body {
  background-color: #FFF9E3;
}

#main {
    background-color:#F6EDB8;
}

.modal-header{
  background-color: #F6EDB8;
}

.modal-body,
.modal-footer {
  border: none;
  background-color: #FFF9E3;
}


.custom-btn {
  background-color: #ffc107;
  color: #000;
  border: 2px solid #ffc107;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.custom-btn:hover {
  background-color: #c99a0b;
  text-decoration: none;
  color: black;
  border-color: #ffc107;
  box-shadow: 0 0 10px #ffc107;
}

.error-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.error-container {
  background: white;
  justify-content: center;
  align-items: center; 
  padding: 2rem 3rem;
  border: 1px solid #f5c6cb;
  border-radius: 8px;
  width: 500px;
  height: 300px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);  
}