<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Error</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/feedback.css" />
    </head>
    <body>
        <div class="error-wrapper">
            <div class="error-container  d-flex flex-column justify-content-center align-items-center">
                <h1><i class="bi bi-exclamation-triangle-fill"></i> Oops!</h1>
                <p>{{ error_message }}</p>
                <a href="/" class="custom-btn">Back to Feedback Form</a>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.js"></script>
    
    </body>

</html>