<!DOCTYPE htmml>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Feedback</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/feedback.css" />
  </head>
  <body>
    <h1 class="text-center fw-bold fs-1">Feedback Form</h2>
    <h3 class="text-center text-secondary">We value your feedback and complaints</h3>

    <div class="container-lg justify-content-center d-flex align-items-center">
      <div class="col-lg-6">
        <form>

          <label for="name" class="form-label">Name:</label>
          <div class="input-group mb-4">
            <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
            <input type="text" id="name" class="form-control" placeholder="Type Your Name" />
          </div>

          <label for="email" class="form-label">Email:</label>
          <div class="input-group mb-4">
            <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
            <input type="email" id="email" class="form-control" placeholder="your@email.com" />
          </div>

          <label for="issue" class="form-label">Issue Type:</label>
          <div class="input-group mb-4">
            <span class="input-group-text"><i class="bi bi-question-circle-fill"></i></span>
            <select class="form-select" id="issue">
              <option value="general">General</option>
              <option value="complaint">Complaint</option>
              <option value="information_request">Information Request</option>
              <option value="other">Other</option>
            </select>
          </div>

          <div class="mb-4 form-floating">
            <textarea class="form-control" id="description" style="height: 160px" rows="5" placeholder="Your feedback or complaint...">
            </textarea>
            <label for="description">Description: ...</label>
          </div>

          <div class="mb-4">
            <label for="upload"><span class="form-label">Upload Support Documents:</span></label>
            <input class="form-control" type="file" id="upload">
          </div>

          <div class="mb-4 text-center">
            <input type="submit" value="Submit" class="btn btn-outline-secondary"/>
            <input type="reset" value="Reset" class="btn btn-outline-secondary" />
          </div>
        </form>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
  </body>
</html>
